<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../userlist/" role="botton" class="btn btn-outline-primary btn-lg btn-block text-center">
               <span><i class="fa fa-home"></i></span>
               
                user list
            </a>
            
        </div>
        <div class="col-sm">
            <a href="#" role="botton" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-dashboard"></i></span>
                Report
            </a>

        </div>
        <div class="col-sm">

            <a href="#" role="botton" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-money "></i></span>
                News Update
            </a>
        </div>
    </div>
</div>